body{
    position: relative;
    width: 100vh;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
#home{
    margin: 0 auto;
    height: 40vh;
    width: 50vh;
}

#vloz{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
    align-content: center;
    width: 100vh;
}
.popis{
    text-align: justify;
}
h1{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 50px;
}

ul{
    position: relative;
    margin: 30px auto;
}

.tlacitka input{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
}
td, th{
    padding:5px;}